<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Name</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Samy's Cars</h1>
    @* TODO: If no cars, display a message *@
    @* TODO: For each car in list of cars, list *@
    @* TODO: Add <a> to CreateCar form *@
    <p><a href="/add-cars">Add A Car</a></p>
    <a href="/inventory">See car inventory.</a>
  </body>
</html>